h1 {
      font-family: sans-serif, serif, monospace, cursive, fantasy;
      font-family: helvetica;
      text-align: center;
      color: #000;
      /* grayscale: 0123456789abcdef */
    }

h2 {
        font-family: helvetica;
        color:#000;
    }

body {
          background-color: #ffff99;
      }
li {
          font-family: helvetica;
          margin: 0 0 .375em 0;
          color: #000;      }
ul {
          padding: 1em 2em;
          border: 2px solid #000
            }
ol {
          padding: 1em 2em;
          border: 2px solid #000;
            }
img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
}
